@charset "UTF-8";


/*#########################################################

ヘッダ

#########################################################*/
// アニメーション
@keyframes slidebox{
	0% {
		transform: translate(60px,0);
	}
	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}

$h-header: 150px;
$h-s-header: 60px;
$w-bp-header: 1200px; // ヘッダのみのブレイクポイント
.site_header{
	position: fixed;
	top: 0;
	left: 0;
	padding: $mg*4 $mg*2;
	width: 100%;
	height: $h-header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	opacity: 0.8;
	z-index: 100;
	transition: height,background-color 0.3s;
	@media screen and (max-width: $w-bp-header){
		padding: 0;
		height: $h-s-header;
	}
	@include mq(sm){
		padding: 0;
	}
	.site_logo{
		line-height: 1;
		flex-grow: 0;
		text-align: left;
		width: 220px;
		@include mq(sm){
			flex-grow: 0 !important;
		}
		a{
			display: block;
			transition: all 0.3s ease-out;
			height: 40px;
			@include mq(sm){
				height: 30px;
			}
			// サイトロゴSVG
			.logo_svg{
				margin: 0 40px;
				height: 100%;
				@include mq(sm){
					margin: 0 20px;
				}
			}
		}
	}
	// ナビゲーション
	.site_nav{
		flex-grow: 2;
		ul{
			display: flex;
			list-style: none;
			@media screen and (max-width: $w-bp-header){
				display: none;
			}
			// 要素の数だけアニメーション
			@for $no from 1 through 8 {
				li:nth-child(#{$no}) {
					animation: slidebox 0.4s ease-out $no*0.1+2+s 1 forwards;
				}
			}
			li{
				// margin: 0 $mg*1;
				line-height: 2;
				opacity: 0;
				a{
					position: relative;
					display: inline-block;
					padding: 0 $mg*2 0 0;
					text-decoration: none;
					white-space: nowrap;
					&:hover{
						color: $c-accent;
						opacity: 1;
						span.hash{
							color: #000;
						}
						// ロールオーバー時の線
						span.title {
							&::after {
								opacity: 1;
								width: 100%;
							}
						}
					}
					span.hash{
						color: $c-accent;
					}
					span.title {
						transition: color 0.6s;
						// ロールオーバー時の線
						&::after {
							opacity: 0;
							content: "";
							display: block;
							position: absolute;
							bottom: 0;
							width: 0;
							height: 1px;
							// background-color: darken($c-anchor, 80%);
							background-color: $c-accent;
							transition: width 0.6s;
							z-index: 1;
						}
					}

				}
			}
		}
	}
	// フォーム
	.form_search{
		flex-grow: 0;
		width: 200px;
		// 検索用テキストボックス
		@include mq(sm){
			display: none;
		}
		.f_search{
			border-bottom: 1px solid $c-line;
			font-size: $unit*1.4;
			height: 40px;
			width: 150px;
			outline: none;
			// フォーカスでテキストボックスが伸びる
			transition: 0.3s ease-in-out;
			&:focus {
				// width: 250px;
				border-bottom: 1px solid $c-accent;
			}
			&::placeholder{
				color: #b5b5b5;
			}
		}
		// 送信ボタン
		.f_submit{
			outline: none;
			transition: all 0.5s ease-out;
			&:hover{
				color: $c-accent;
			}
		}
	}
	.box_sns{
		list-style: none;
		position: absolute;
		left: 40px;
		i{
			// color: #a0a0a0;
		}
	}
}
.site_header{
	// ヘッダのミニサイズ
	&.smaller {
		padding: 0;
		height: $h-s-header;
		// サイトロゴ
		.site_logo{
			flex-grow: 2;
			width: auto;
			a{
				height: 30px;
				.logo_svg{
				}
			}
		}
		// ナビゲーション
		.site_nav{
			display: none;
		}
	}
}

/* ========================================================
ハンバーガーボタン
=========================================================*/
.btn_menu {
	// position: absolute;
	// right: 30px;
	// top: $mg*3.5;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	z-index: 150;
	overflow: hidden;
	@include mq(sm){
	}

	// アニメーション
	@keyframes burger-hover {
		0% {
			animation-timing-function: linear;
		}
		50% {
			transform: translateX(40px);
			opacity: 1
		}
		51% {
			transform: translateX(40px);
			opacity: 0
		}
		52% {
			transform: translateX(-40px);
			opacity: 0
		}
		53% {
			transform: translateX(-40px);
			opacity: 1
		}
		100% {
			transform: translateX(0%)
		}
	}
	// ホバー時のアニメーション
	&:hover{
		background: none;
		.icon_menu {
			background: $c-gradient;
			width: 50px;
			animation: burger-hover 0.4s forwards;

			/* 上下のライン */
			&:after,
			&:before {
				background: $c-gradient;
			}
		}

	}

	/* 3本線アイコン用プレースホルダ */
	%btn-icon {
		display: block;
		top: 49%;
		left: 50%;
		width: 24px;
		height: 3px;
		background: #4a4a48;
		z-index: 2100;
	}
	/* 3本線アイコン */
	.icon_menu {
		@extend %btn-icon;
		position: relative;
		margin-left: -12px;
		transition: transform 0.5s;
		transition: width 0.3s ease-out;
		/* 上下のライン */
		&:after,
		&:before {
			@extend %btn-icon;
			position: absolute;
			content: "";
			left: 0;
			transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
		}
		&:before {
			margin-top: -8px;
		}
		&:after {
			margin-top: 5px;
		}
	}

	/* 3本線アイコンを×アイコンに変化させる */
	&.active {
		span{
			background: transparent !important;

			&:after,
			&:before {
				margin-top: 0 !important;
			}
			&:before {
				transform: translateY(0px) rotateZ(-135deg)!important;
			}
			&:after {
				transform: translateY(0px) rotateZ(135deg)!important;
			}
		}
	}
}







/* ========================================================
メニューオープン後の下敷き
=========================================================*/
$c-darkgray: #252f39;
.menu_animation_wrapper {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 0;
	pointer-events: none;
	.js_menu_animated_background {
		position: absolute;
		width: 800px;
		height: 800px;
		background-color: $c-darkgray;
		border-radius: 50%;
		pointer-events: none;
		transform: scale(0, 0);
		top: -400px;
		right: -400px;

	}
}

// ナビゲーションコンテンツ用
.js_nav_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 110;
	opacity: 0;
	color: #fff;
	pointer-events: none;
	background-color: $c-darkgray;
	overflow: hidden;
	&.active {
		pointer-events: initial;
	}
	.menu_wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;

		// アニメーションタイトル
		.js_category_title {
			margin-bottom: $mg*2;
			font-size: $unit*3;
			letter-spacing: $unit*0.5;
			cursor: pointer;

			@include mq(sm){
				font-size: $unit*1.5;
			}
			.text_wrapper {
				position: relative;
				display: inline-block;
				// padding: $unit*0.1 $unit*0.05 $unit*0.15 0;
				.js_text_under_line {
					position: absolute;
					left: 0;
					height: 2px;
					width: 100%;
					background-color: #fff;
					transform-origin: 100% 100%;
					bottom: -$mg*1.5;
				}
				.js_char_animation {
					display: inline-block;
					line-height: $unit*1;
				}
			}
		}
		// カテゴリ内コンテンツ用リスト
		.js_category_menu{
			overflow: hidden;
			opacity: 0;
			transition: all 0.5s;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			list-style: none none;
			margin: $unit*0.5 auto;
			width: 980px;
			@include mq(sm){
				width: 95%;
			}
			li{
				margin-bottom: $unit*0.5;
				@include mq(sm){
					margin-bottom: $unit*0;
				}
				a.btn_menu_item{
					margin: $mg*0.2;
					color: #fff;
					text-decoration: none;
					display: block;
					padding: $unit*2;
					transition: all 0.5s ease-in-out;
					border-radius: 3px;
					border: none;
					font-size: $unit*2;
					line-height: $unit*2;
					background-color: #000;
					@include mq(sm){
						// padding: $unit*0.5;
						line-height: $unit*1.5;
						font-size: $unit*1.6;
					}
					&:hover{
						color: #fff;
						background: $c-accent;  /* fallback for old browsers */
						background: $c-gradient; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

					}
				}
			}
		}
	}
}


/*#########################################################

フッタ

#########################################################*/
.site_footer{
	border-top: 20px solid $c-line;
	padding-top: $mg*8;
	@include mq(sm){
		padding-top: $mg*4;
	}
	.area_sitemap{
		margin: auto auto $mg*8;
		max-width: $w-content;
		@include mq(sm){
			margin-bottom: $mg*4;
		}
		ul.layout_ul{
			display: flex;
			justify-content: space-between;
			margin: 0 $mg*4;
			list-style: none;
			@include mq(sm){
				flex-direction: column;
				width: 95%;
				margin: auto;
			}
			li{
				white-space: nowrap;
				min-width: 300px;
				&:first-child{
					flex-grow: 0;
					width: 40%;
				}
				h1{
					@include mq(sm){
						margin-bottom: $mg*3;
					}
					a{
						text-decoration: none;
						// font-size: $unit*4;
						display: block;
						width: 120px;
					}
				}
				h2{
					margin-bottom: $mg*3;
					padding-bottom: $mg*2;
					font-size: $unit*1.8;
					color: #626262;
					letter-spacing: 2px;
					max-width: 270px;
					border-bottom: 1px solid $c-line;
					a{
					}
				}
				ul.link_list{
					list-style: none;
					li{
						margin-bottom: $mg;
						a{
							text-decoration: none;
							&:hover{
								// text-decoration: underline;
								border-bottom: 1px solid #ff4e50;
							}
						}
					}
				}
			}
		}
	}
	.area_go_rhythmfactory{
		padding: $mg*10 0;
		background: #f2f2f2;
		text-align: center;
		a{
			position: relative;
			display: block;
			margin: auto;
			max-width: $w-content;
			// ロゴ
			img{
				width: 300px;
			}
			// 矢印
			.arrow_right{
				position: absolute;
				top: 20px;
				right: 150px;
				@include mq(sm){
					display: none;
				}
				&::before{
					width: 70px;
					height: 5px;
					left: 30px;
				}
				&::after{
					left: 30px;
					width: 60px;
					height: 60px;
					border-top: 5px solid #000;
					border-right: 5px solid #000;
				}
			}
		}
	}
	.copyright{
		padding: $mg*2 0;
		text-align: center;
		color: #000;
		background: #f2f2f2;
	}
}
