@charset "UTF-8";
/*#########################################################

読み込み

#########################################################*/
// 基本設定
@import "style.scss";
@import "swiper.min";
// $c-text: rgb(236, 195, 83);	// フォントカラー
$c-text: #343434;	// フォントカラー
$c-bg: #000;	// 背景色
$c-anchor: #000;	// リンク色
$c-anchor-hover: #959595;	// ホバー時のリンク色
$c-anchor-active: #00a0e9; // アクティブ時のリンク色
$c-anchor-visited: $c-anchor; // 訪問済み時のリンク色
$c-anchor-focus: $c-anchor-hover; // フォーカス時のリンク色


/*#########################################################

読み込み

#########################################################*/
// 最新記事一覧
@import "components/latestlist-container.scss";
@import "components/mv-container.scss";

/*#########################################################

共通設定の変更

#########################################################*/
body{
	color: #343434;
	background: url(/common/img/category/bg.jpg) no-repeat fixed;
	background-size: cover;
	@include mq(sm){
		background-image: url(/common/img/category/bg_sp.jpg);
	}
}
a {
	color: $c-anchor;
	&:visited {
		color: $c-anchor-visited;
	}
	&:focus {
		color: $c-anchor-focus;
	}
	&:hover {
		color: $c-anchor-hover;
		opacity: 0.6;
	}
	&:active {
		color: $c-anchor-active;
	}
}

/* ========================================================
ヘッダ
=========================================================*/
.site-header{
	background: linear-gradient(180deg, #b8b8b8, rgba(255,255,255,0) 80%);
	.site-logo{
		a{
			// サイトロゴSVG
			.logosvg{
				// ロゴ
				.logopath{
					fill: #fff !important;
				}
			}
		}
	}
	// ナビゲーション
	.site-nav{
		ul{
			li{
				a{
					color: #fff;
				}
			}
		}
	}
	// フォーム
	.search-form{
		.field{
			&::placeholder{
				color: #fff;
			}
		}
	}
}


/* ========================================================
フッタ
=========================================================*/
.site-footer{
	border: none;
	background: linear-gradient(180deg, #b8b8b8, rgba(255,255,255,0) 80%);
	.inner{
		ul.horizontal-container{
			li{
				h2{
					border-color: #626262;
				}
				ul.link-list{
					li{
						a{
							&:hover{
								color: #000;
							}
						}
					}
				}
			}
		}
	}
}

/* ========================================================
SNSボタン
=========================================================*/
.socialicon-container{
	>a {
		i {
			color: #fff;
		}
	}
}