@charset "UTF-8";
/*#########################################################

読み込み

#########################################################*/
// 基本設定
@import "common.scss";
@import "swiper.min";

// $c-font: #343434;	// フォントカラー
// $c-bg: #000;	// 背景色
$c-anchor: #fff;	// リンク色
$c-anchor-hover: #959595;	// ホバー時のリンク色
$c-anchor-active: #00a0e9; // アクティブ時のリンク色
$c-anchor-visited: $c-anchor; // 訪問済み時のリンク色
$c-anchor-focus: $c-anchor-hover; // フォーカス時のリンク色


body{
	background: url(/common/img/parent/bg.jpg) no-repeat #000 fixed;
	background-size: contain;
	color: #fff;
}
a {
	color: $c-anchor;
	&:visited {
		color: $c-anchor-visited;
	}
	&:focus {
		color: $c-anchor-focus;
	}
	&:hover {
		color: $c-anchor-hover;
		opacity: 0.6;
	}
	&:active {
		color: $c-anchor-active;
	}
}

/* ========================================================
ヘッダ
=========================================================*/
.site_header{
	background: none;
	.site_logo{
		a{
			// サイトロゴSVG
			.logo_svg{
				// ロゴ
				.logo_path{
					opacity: 0.3;
					fill: #fff !important;
				}
			}
		}
	}
	// ナビゲーション
	.site_nav{
		ul{
			li{
				a{
					color: #fff;
					span.hash{
						color: cyan;
					}
				}
			}
		}
	}
	// フォーム
	.form_search{
		.f_search{
			&::placeholder{
				color: #fff;
			}
		}
	}
}
.site_footer{
	border: none;
}



/*#########################################################



#########################################################*/



.area_hook{
	margin: $mg*15 auto $mg*10;
	height: auto;
	.swiper-wrapper{
		.swiper-slide{
			max-width: 400px;
			width: auto;
			opacity: 1;
		}
	}
}
.swiper-pagination-bullet{
	background: $c-line;
}

.visual_meta{
	position: relative;
	right: initial;
	top: initial;
	margin: $mg*5 0;
	h2{
		margin-bottom: $mg*5;
		font-size: $unit*10;
		line-height: 1;
		color: #fff;
		opacity: 0.2;
		font-weight: bold;
	}
	p{
		background-color: #a70655;
	}
	.btn_viewmore{
	}
	.arrow_right{
		&:before{
		}
		&:after{
		}
	}
	a.btn_line_anime{
		margin-top: $mg*2;
		color: #fff;
		// 線
		&::after {
			background-color: #fff;
		}
	}
}



.are_category_list{
	margin-bottom: $mg*5;
	.inner{
		@extend %w-content;
		h2{
			margin-bottom: $mg*5;
			font-size: $unit*3;
			line-height: 1;
			color: #fde3c5;
			span{
				font-size: $unit*1.8;
				color: #848488;
			}
		}
		.post_list{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			list-style: none;
			li{
				flex-shrink: 0;
				margin-bottom: $mg*5;
				width: 25%;
				padding-right: 20px;
				&:last-child{
					margin-right: 0;
				}
				a{
					display: block;
					color: #fff;
					text-decoration: none;
					h3{
						margin-bottom: $mg*2;
						line-height: 1.2;
						font-size: $unit*2.5;
						span{
							font-size: $unit*1.8;
							color: #848488;
						}
					}
					p{
						display: inline;
						background-color: #a70655;
					}
				}
			}
		}
	}

}

