@charset "UTF-8";
/*#########################################################

読み込み

#########################################################*/
// 基本設定
@import "style.scss";
@import "swiper.min";


// $c-text: #343434;	// フォントカラー
// $c-bg: #000;	// 背景色
$c-anchor: #fff;	// リンク色
$c-anchor-hover: #959595;	// ホバー時のリンク色
$c-anchor-active: #00a0e9; // アクティブ時のリンク色
$c-anchor-visited: $c-anchor; // 訪問済み時のリンク色
$c-anchor-focus: $c-anchor-hover; // フォーカス時のリンク色



// カテゴリ一覧
@import "components/category-container.scss";



body{
	background: url(/common/img/parent/bg.jpg) no-repeat #000 fixed;
	background-size: contain;
	color: #fff;
}
a {
	color: $c-anchor;
	&:visited {
		color: $c-anchor-visited;
	}
	&:focus {
		color: $c-anchor-focus;
	}
	&:hover {
		color: $c-anchor-hover;
		opacity: 0.6;
	}
	&:active {
		color: $c-anchor-active;
	}
}

/* ========================================================
ヘッダ
=========================================================*/
.site-header{
	background: none;
	.sitelogo{
		a{
			// サイトロゴSVG
			.logosvg{
				// ロゴ
				.logopath{
					opacity: 0.3;
					fill: #fff !important;
				}
			}
			&:hover{
				.logosvg{
					// ロゴ
					.logopath{
						opacity: 1;
					}
				}
			}
		}
	}
	// ナビゲーション
	.site-nav{
		ul{
			li{
				a{
					color: #fff;
					span.hash{
						color: cyan;
					}
				}
			}
		}
	}
	// フォーム
	.search-form{
		.field{
			&::placeholder{
				color: #fff;
			}
		}
	}
}
.site-footer{
	border: none;
}

.swiper-card{
	margin: $mg*15 auto $mg*10;
	height: auto;
	.swiper-wrapper{
		.swiper-slide{
			max-width: 400px;
			width: auto;
			opacity: 1;
		}
	}
}
.swiper-pagination-bullet{
	background: $c-line;
}


.companypr-container{
	.banner-container{
		background: #000;
		color: #fff;
		&::before,&::after{
			background: #000;
		}
		.arrow.-openright:before{
			border-color: #fff;
		}
	}
}