
.icon-search:before { content: '\e800'; } /* '' */
.icon-up-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-popup:before { content: '\e804'; } /* '' */
.icon-bold:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-get-pocket:before { content: '\f265'; } /* '' */