
/* ========================================================
右カラム
=========================================================*/
/* サブカラム */
.sidebar-container {
	.widget {
		margin-bottom: $unit*5;
		background-color: #fff;
		ul{
			margin-bottom: $unit*2;
		}
	}
	.widget_title {
		margin: 0 0 $unit*1;
		font-size: $unit*2;
		line-height: 1.2;
		span{
			font-size: $unit*1.4;
			color: $c-darkgray;
		}
	}

	// カテゴリ
	.widget_category{
		ul{
			&:first-child{
				margin-bottom: $unit*4;
			}
		}
	}

	// カテゴリとアーカイブ
	.widget_category,
	.widget_archives {
		ul{
			list-style: none;
			border: 1px solid $c-frostywhite;
			li{
				border-bottom: 1px solid $c-frostywhite;
				&:last-child{
					border: none;
				}
				a {
					display: block;
					padding: $unit*1.5 0 $unit*1.5 $unit*1;
					// transition: background-color, border-color 1s ease-out;
					text-decoration: none;
					&:hover {
						background: $c-gradient;
						color: #fff;
					}
				}
			}
		}
	}

	/* ========================================================
	タグクラウド
	=========================================================*/
	.box_tagcloud{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		a{
			@extend %btn;
			margin: 0 $mg*0.5 $mg*0.5 0;
			border-color: $c-frostywhite;
		}
	}
	// .box_tagcloud a {
	// 	@extend %btn;
	// 	margin-bottom: $unit*0.5;
	// }
	// .box_tagcloud a:hover {
	// 	@extend %btn-hover;
	// }


}
